extends layout

block content
    content
        h4 Haiiii, #{username} !
        form(action= "/goodbye", method= "GET")
            input(type="submit", value ="dadah")
            <a href = `/cards`> ke pertanyaan
            